fastapi
uvicorn[standard]

python-dotenv
python-multipart
orjson

python-jose[cryptography]
passlib[bcrypt]

cassandra-driver==3.27.0
requests
pyopenssl

# Python request
httpx
aiometer==0.3.*

# Celery
celery[amqp,redis]
flower

# Gevent
futurist 
gevent